# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/*

# user uploads
uploads/full/*
uploads/previews/*
uploads/stems/*

# demucs
upload_stems/htdemucs/*/*

#checkpoints
checkpoints/*.pt

# data/tagging_index/embeddings
data/tagging_index/embeddings/*.faiss
data/tagging_index/metadata/*.json

data/tagging_index/fma/audio/*
data/tagging_index/fma/csv/*
data/tagging_index/fma/metadata/*

data/matching_index/metadata/*.json
data/matching_index/embeddings/*.faiss

# TTMRRP models
models/ttmrpp/*

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.dbcheckpoints/*.pt
checkpoints/*.pt
checkpoints/*.pt
